---
import Link from "~/components/ui/Link.astro";
---

<footer>
  <nav class="flex flex-wrap items-center gap-4 md:gap-6">
    <Link
      href="https://github.com/krasun/bluesky.garden"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub
    </Link>

    <Link
      href="https://blueskygarden.pirsch.io/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Analytics
    </Link>
  </nav>
</footer>
