---
import Link from "~/components/ui/Link.astro";
---

<footer class="mt-auto">
  <nav class="flex flex-wrap items-center gap-4 md:gap-6">
    <Link
      href="https://github.com/krasun/bluesky.garden"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub
    </Link>

    <Link
      href="https://blueskygarden.pirsch.io/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Analytics
    </Link>

    <div>
      Made by <Link href="https://kulpinski.dev/">Piotr Kulpinski</Link> and <Link
        href="https://dmytrokrasun.com/">Dmytro Krasun</Link><span>.</span>
    </div>
  </nav>
</footer>
